.lazy-load-image-background {
    display: block !important;
    &.lazy-load-image-loaded {
        display: inline !important;
    }
    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}

.lazy-load-image-background.opacity:not(.lazy-load-image-loaded) {
    background-color: #ffffff;
    img {
        opacity: 0;
    }
}

.lazy-load-image-background.opacity.lazy-load-image-loaded img {
    opacity: 1;
    transition: all .3s;
}